
/*
Highlight - #C6D8FF
Light blue - #71A9F7
Ultra-Violet - #6B5CA5
Deep Pink #72195A
Beetroot - #4C1036

*/

* {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  background-image: linear-gradient( #71A9F7, #6B5CA5);
  /* background-image: linear-gradient(22deg, #6CCFF6, #6ccff680,); */
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 3px solid lime; */
  padding: 10px;
  margin: 10px;

}

footer {
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 15px 0px 15px 0px;
  border: 1px solid white;
}

@media screen and (min-width: 1000px) {
  .main-component {
    width: 60vw;
  }
  #suggestion-form {
    max-width: 60%;
    border: 10px solid blue;
  }
  .project-image {
    width: 100%;
  }
}

.main-component {
  border-radius: 15px 0px 15px 0px;
  border: 1px solid white;
  padding: 15px;
  background-color: rgba(0, 255, 255, 0.2);
  align-items: center;
  margin: 15px 0px;
  border: 1px solid lime;
}

#header {
  border-radius: 15px 0px 15px 0px;
  max-width: 100vw;
  /* padding: 0px 10vw; */
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

nav > * {
  padding: 10px;
  padding: 1rem;
  border: 1px solid skyblue;
  flex-grow: 1;
  border-radius: 14px 0px 14px 0px;
  background-image: linear-gradient( #6B5CA5, #72195A);
}
/* Highlight - #C6D8FF
Light blue - #71A9F7
Ultra-Violet - #6B5CA5
Deep Pink #72195A
Beetroot - #4C1036 */

input, textarea {
  background-color: rgb(105, 105, 105);
}

.project-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  max-width: 80vw;
}

.project-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.project-links-container {
  display: flex;
  padding: 20px;
}

.project-links {
  align-items: center;
  padding: 1rem;
  border: 1px solid skyblue;
  border-radius: 14px 0px 14px 0px;
  background-image: linear-gradient( #6B5CA5, #72195A);
  flex-grow: 1;
  min-width: 15vw;
  /* border: 10px solid white; */
}

caption {
  margin: 10px 0;
  padding: 10px 0px;
  border: 2px solid rgba(255, 255, 255, 0.26);
  max-width: 80vw;
}

#suggestion-form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

#greeting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid white; */
}

#portrait {
  margin: 10px 0px;
  border-radius: 15px 0px 15px 0px;
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 90%;
}

h6 {
  margin: 5px;
}

h1 {
  font-size: 32px;
}

#header-emoji {
  max-height: 32px;
}

