* {
  color: white;
  /* border: 1px solid white; */
}

body {
  background-image: linear-gradient( rgb(20,20,20), rgb(40,40,40));
  background-attachment: fixed
}

nav {
  /* border-bottom: 0.1em solid white; */
}

nav > * {
  padding: 1rem;

}

footer {

}

input, textarea {
  background-color: rgb(105, 105, 105);
}